/* Estilo base para o container */
.cards-menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adapta dinamicamente */
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Ajustes para telas maiores */
@media (min-width: 1024px) {
    .cards-menu-container {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas fixas */
        gap: 32px;
    }

    .card-menu-img {
        height: 230px;
    }

    main {
        padding: 0 60px;
    }
}

/* Ajustes para tablets */
@media (max-width: 1023px) {
    .cards-menu-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
        gap: 24px;
    }

    .card-menu-img {
        height: 200px;
    }

    main {
        padding: 0 40px;
    }
}

/* Ajustes para smartphones */
@media (max-width: 767px) {
    .cards-menu-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
        gap: 16px;
    }

    .card-menu {
        min-height: 200px;
    }

    .card-menu-img {
        height: 180px;
    }

    main {
        padding: 0 20px;
    }
}

/* Ajustes para telas muito pequenas */
@media (max-width: 500px) {
    .cards-menu-container {
        grid-template-columns: 1fr; /* 1 coluna */
        gap: 16px;
    }

    .card-menu {
        min-height: 200px;
    }

    .card-menu-img {
        height: 200px;
    }

    main {
        padding: 0 16px;
    }
}