/* Estilo para o menu principal */


#menu-content {
    padding: 20px;

}

/* Estilo para as seções carregadas */
.menu-section {
    display: block;
    border: 2px solid red;
    width: 100%;
    height: auto;
    margin-top: 100px;
    
}

/* Botão de voltar */
.back{
    width: 100%;
    height: 30px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px;
}
.bi-arrow-left-short{
    font-size: 40px;
    color: #502314;

}

.menu-section h3{
    text-align: center;
    color: #502314;
    margin-bottom: 20px;

}




.container-produtos {
    border: 2px solid yellow;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.grade-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card-produtos {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
}

.card-produtos:hover {
    transform: translateY(-3px);
}

.imagem-card {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.corpo-card {
    padding: 15px;
}
.corpo-card h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 7px;
    color: #502314;
}



.descricao-card {
    font-size: 0.85rem;
    color: #000000;
    margin-bottom: 12px;
    line-height: 1.4;
}

.preco-card {
    font-size: 1.1rem;
    font-weight: 600;
    color: #D62300;
    margin-bottom: 15px;
}


.botao-adicionar {
    width: 100%;
    padding: 10px;
    background-color: #D62300;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-adicionar:hover {
    background-color: #851600;
}
