

/* FEEDBACK */
.feedback-adicionado {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  padding: 12px 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s ease;
}

.feedback-adicionado.success {
  background-color: #009b40;
  color: white;
}

.feedback-adicionado.info {
  background-color: #ff0000;
  color: white;
}

.feedback-adicionado.mostrar {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.feedback-adicionado i {
  font-size: 19px;
}
