*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Archivo Black", sans-serif;
    background-color: #F5EBDC;
}

main{
    width: 100vw;
    height: auto;
}

main .Perfil{
    width: 100%;
    height: 150px;
    background-color: #502314 ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.foto{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 20px;
}

.foto .circulo{
    width: 130px;
    height: 130px;
    border-radius: 50%; /* Garante o formato circular */
    border: 3px solid #FEB70F;
    overflow: hidden; /* Oculta o conteúdo que ultrapassa os limites */
}

.foto .circulo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nome{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 20px;
}

.nome h1{
    color: white;
    font-size: 50px;
}

.editar-perfil{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 5px 30px;
}

.editar-perfil a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.editar-perfil a:hover{
    text-decoration: underline;
}

main .carrinho{
    width: 100%;
    height: 500px;
    border: 2px solid blue;
}